<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylely.db.localhost.mapper.LocalhostQueryDataMapper">
	<select id="queryDataService" parameterType="String" resultType="String">
		select a.req_json from pub_trans_log a
		where a.sid = #{value}
	</select>
</mapper>